@inherits LayoutComponentBase

@inject NavigationManager navigationManager
@inject CustomStateProvider authStateProvider

<div class="sidebar">
    <div class="shadow">
        <NavMenu OnClick="ClickHandler"/>
    </div>
</div>

<div class="main" style="background-color:lavender">
    <div class="top-row px-4 shadow">
        <div id="grid-container">
            <p id="message">@message</p>
            <button type="button" class="btn btn-link ml-md-auto" @onclick="@LogoutClick">Logout</button>
        </div>
    </div>

    <div class="content px-4">
        @Body
    </div>
</div>

@functions{

    [CascadingParameter]
    Task<AuthenticationState> AuthenticationState { get; set; }

    protected override async Task OnParametersSetAsync()
    {
        if (!(await AuthenticationState).User.Identity.IsAuthenticated)
        {
            navigationManager.NavigateTo("/login");
        }
    }

    async Task LogoutClick()
    {
        await authStateProvider.Logout();
        navigationManager.NavigateTo("/login");
    }

    string message = "Hello from ParentComponent";

    void ClickHandler(string newMessage)
    {
        message = newMessage;
    }
}
<style>
    #grid-container{
        display:grid;
        grid-template-columns:1fr 1fr;
        padding:10px;
    }
    #message{
        font-size:26px;
        text-align:left
    }
</style>
