@inherits LayoutComponentBase

@inject NavigationManager navigationManager
@inject CustomStateProvider authStateProvider

<div class="sidebar">
    <div>
        <NavMenu OnClick="ClickHandler"/>
    </div>
</div>

<div class="main" style="background-color:cornflowerblue;">
    <div class="top-row px-4" style="background-color: #1861ac">
        <div id="grid-container">
            <span id="message">@message</span>
            <button type="button" class="btn btn-link ml-md-auto" @onclick="@LogoutClick" 
                    style="color:white">Logout</button>
        </div>
    </div>

    <div class="content px-4">
        @Body
    </div>
</div>

@functions{

    [CascadingParameter]
    Task<AuthenticationState> AuthenticationState { get; set; }

    protected override async Task OnParametersSetAsync()
    {
        if (!(await AuthenticationState).User.Identity.IsAuthenticated)
        {
            navigationManager.NavigateTo("/login");
        }
    }

    async Task LogoutClick()
    {
        await authStateProvider.Logout();
        navigationManager.NavigateTo("/login");
    }

    string message;

    void ClickHandler(string newMessage)
    {
        message = newMessage;
    }
}
<style>
    #grid-container{
        display:grid;
        grid-template-columns:1fr 1fr;
        padding:0px;
        width:100%;
    }
    #message{
        font-size:22px;
        text-align:left;
        vertical-align:middle;
        color:white;
    }
</style>
