@layout OrdersLayout
@page "/orders/orderscreation"

@using System.Collections.ObjectModel
@using System.ComponentModel;
@using Syncfusion.Blazor.Grids
@using OMSWebApp.Shared.Models
@using OMSWebApp.Client.Components
@using Syncfusion.Blazor.Navigations

@inject HttpClient client

<h5>Order Creation</h5>
<div class="shadow" style="background-color:white; height:700px; padding:.5em">
    <SfTab CssClass="tab" ShowCloseButton="false" EnablePersistence="true" LoadOn="ContentLoad.Demand" SelectedItem="1">
        <TabItems>
            <TabItem Content="WhatsApp Messenger is a proprietary cross-platform instant messaging client for smartphones that operatesunder a subscription business model.It uses the Internet to send text messages, images, video, user location andaudio media messages to other users using standard cellular mobile numbers. As of February 2016, WhatsApp had a userbase of up to one billion,[10] making it the most globally popular messaging application.WhatsApp Inc., based inMountain View, California, was acquired by Facebook Inc.on February 19, 2014, for approximately US$19.3 billion.">
                <ChildContent>
                    <TabHeader Text="MAIN"></TabHeader>
                </ChildContent>
            </TabItem>
            <TabItem>
                <ChildContent>
                    <TabHeader Text="SELECT PRODUCTS"></TabHeader>
                </ChildContent>
                <ContentTemplate>
                    <ProductsSelector></ProductsSelector>
                </ContentTemplate>
            </TabItem>
            <TabItem Content="Facebook is an online social networking service headquartered in Menlo Park, California. Its website waslaunched on February 4, 2004, by Mark Zuckerberg with his Harvard College roommates and fellow students EduardoSaverin, Andrew McCollum, Dustin Moskovitz and Chris Hughes.">
                <ChildContent>
                    <TabHeader Text="SHIPPING"></TabHeader>
                </ChildContent>
            </TabItem>
        </TabItems>
    </SfTab>
</div>

@code {
    //List<Product> products;
    //ObservableCollection<OrderDetail> selectedDetails { get; set; }

    //protected override async Task OnInitializedAsync()
    //{
    //selectedDetails = new ObservableCollection<OrderDetail>();
    //products = await client.GetFromJsonAsync<List<Product>>("api/products");
    //}
}

<style>
    #grid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 1vw;
    }

        #grid > div {
            padding: .5em;
            text-align: left;
            background-color: white;
        }

        .tab{
            background-color:white;
        }
</style>

