@page "/"

<AuthorizeView>
    <Authorized>
        <div style="background-color:blue; color:white; padding:10px; border-radius:10px; width:30%;" class="shadow">
            <h1>Hello @context.User.Identity.Name!</h1>
            <p>Welcome to Order Management System</p>
        </div>
    </Authorized>

    <Authorizing>
        <h1 style="color:white">Loading ...</h1>
    </Authorizing>
</AuthorizeView>
