@page "/"

<AuthorizeView>
    <Authorized>
        <div class="shadow" style="background-color:#808080; color:white; padding:10px; border-radius:10px; width:30%;">
            <h3>Hello @context.User.Identity.Name!</h3>
            <h4>Welcome to Order Management System</h4>
        </div>
    </Authorized>
    <Authorizing>
        <h1 style="color:white">Loading ...</h1>
    </Authorizing>
</AuthorizeView>
