@page "/"

<AuthorizeView>
    <Authorized>
        <div class="shadow" style="background-color:#212529; color:white; padding:20px; border-radius:4px; width:100%;">
            <h3>Hello @context.User.Identity.Name!</h3>
            <h4>Welcome to Order Management System</h4>
        </div>
    </Authorized>
    <Authorizing>
        <h1 style="color:white">Loading ...</h1>
    </Authorizing>
</AuthorizeView>
