@page "/orders"

@using Syncfusion.Blazor.Navigations
@using OMSWebApp.Client.Components
@using OMSWebApp.Shared.Models

@inject HttpClient client

<div class="shadow" style="background-color:white; height:calc(100vh-30px); padding:1.0em; border-top-left-radius:30px">
    <SfTab EnablePersistence="true" LoadOn="ContentLoad.Demand" SelectedItem="1">
        <TabItems>
            <TabItem>
                <ChildContent>
                    <TabHeader Text="ORDERS JOURNAL"></TabHeader>
                </ChildContent>
                <ChildContent>
                    <TabHeader Text="JOURNAL"></TabHeader>
                </ChildContent>
                <ContentTemplate>
                    <OrdersJournal></OrdersJournal>
                </ContentTemplate>
            </TabItem>
            <TabItem>
                <ContentTemplate>
                    <SfTab EnablePersistence="true" LoadOn="ContentLoad.Demand" SelectedItem="0">
                        <TabItems>
                            <TabItem>
                                <ContentTemplate>
                                    <OrdersMain @ref="orderMain"></OrdersMain>
                                </ContentTemplate>
                                <ChildContent>
                                    <TabHeader Text="MAIN"></TabHeader>
                                </ChildContent>
                            </TabItem>
                            <TabItem>
                                <ChildContent>
                                    <TabHeader Text="SELECT PRODUCTS"></TabHeader>
                                </ChildContent>
                                <ContentTemplate>
                                    <ProductsSelector @ref="productSelector" ></ProductsSelector>
                                </ContentTemplate>
                            </TabItem>
                            <TabItem>
                                <ChildContent>
                                    <TabHeader Text="SHIPPING"></TabHeader>
                                </ChildContent>
                                <ContentTemplate>
                                    <OrdersShipment></OrdersShipment>
                                </ContentTemplate>
                            </TabItem>
                        </TabItems>
                    </SfTab>
                </ContentTemplate>
                <ChildContent>
                    <TabHeader Text="CREATE"></TabHeader>
                </ChildContent>
            </TabItem>
        </TabItems>
    </SfTab>
</div>

@code
{
    Order order;
    OrdersMain orderMain;
    ProductsSelector productSelector;
    OrdersShipment ordersShipment;

    protected override Task OnInitializedAsync()
    {
        return base.OnInitializedAsync();
    }

    private async Task SaveOrder()
    {
        await client.PostAsJsonAsync("", new Order()
        {
            //OrderDetails=productSelector.products, 
        });
    }
}
